/* Color */

//
// 
//

// Text Colors
//
// Grayscale and colors for use pantip

.txt-black 			{color: $black !important; }
.txt-white 			{color: $white !important; }

.txt-grey-50 		{color: $grey-50 !important; }
.txt-grey-100 		{color: $grey-100 !important; }
.txt-grey-200 		{color: $grey-200 !important; }
.txt-grey-300 		{color: $grey-300 !important; }
.txt-grey-400 		{color: $grey-400 !important; }
.txt-grey-500 		{color: $grey-500 !important; }
.txt-grey-600 		{color: $grey-600 !important; }
.txt-grey-700 		{color: $grey-700 !important; }
.txt-grey-800 		{color: $grey-800 !important; }
.txt-grey-900 		{color: $grey-900 !important; }

.txt-red-500 		{color: $red-500 !important; }
.txt-pink-500 		{color: $pink-500 !important; }
.txt-purple-500 	{color: $purple-500 !important; }
.txt-deeppurple-500	{color: $deeppurple-500 !important; }
.txt-indigo-500 	{color: $indigo-500 !important; }
.txt-blue-500 		{color: $blue-500 !important; }
.txt-lightblue-500 	{color: $lightblue-500 !important; }
.txt-cyan-500 		{color: $cyan-500 !important; }
.txt-teal-500 		{color: $teal-500 !important; }
.txt-green-500 		{color: $green-500 !important; }
.txt-lightgreen-500	{color: $lightgreen-500 !important; }
.txt-lime-500 		{color: $lime-500 !important; }
.txt-yellow-500 	{color: $yellow-500 !important; }
.txt-amber-500 		{color: $amber-500 !important; }
.txt-orange-500 	{color: $orange-500 !important; }
.txt-deeporange-500	{color: $deeporange-500 !important; }
.txt-brown-500 		{color: $brown-500 !important; }
.txt-bluegrey-500 	{color: $bluegrey-500 !important; }

.txt-yellow-700 	{color: $yellow-700 !important; }
.txt-orange-a100 	{color: $orange-a100 !important; }

.txt-purple-pantip-50  {color: $purple-pantip-50 !important; }
.txt-purple-pantip-100 {color: $purple-pantip-100 !important; }
.txt-purple-pantip-200 {color: $purple-pantip-200 !important; }
.txt-purple-pantip-300 {color: $purple-pantip-300 !important; }
.txt-purple-pantip-400 {color: $purple-pantip-400 !important; }
.txt-purple-pantip-500 {color: $purple-pantip-500 !important; }
.txt-purple-pantip-600 {color: $purple-pantip-600 !important; }
.txt-purple-pantip-700 {color: $purple-pantip-700 !important; }
.txt-purple-pantip-800 {color: $purple-pantip-800 !important; }
.txt-purple-pantip-900 {color: $purple-pantip-900 !important; }

.txt-indigo-pantip-50  {color: $indigo-pantip-50 !important; }
.txt-indigo-pantip-100 {color: $indigo-pantip-100 !important; }
.txt-indigo-pantip-200 {color: $indigo-pantip-200 !important; }
.txt-indigo-pantip-300 {color: $indigo-pantip-300 !important; }
.txt-indigo-pantip-400 {color: $indigo-pantip-400 !important; }
.txt-indigo-pantip-500 {color: $indigo-pantip-500 !important; }
.txt-indigo-pantip-600 {color: $indigo-pantip-600 !important; }
.txt-indigo-pantip-700 {color: $indigo-pantip-700 !important; }
.txt-indigo-pantip-800 {color: $indigo-pantip-800 !important; }
.txt-indigo-pantip-900 {color: $indigo-pantip-900 !important; }

// Background Colors
//
// Grayscale and colors for use pantip

.bg-black 			{color: $black !important; }
.bg-white 			{color: $white !important; }

.bg-grey-50 		{color: $grey-50 !important; }
.bg-grey-100 		{color: $grey-100 !important; }
.bg-grey-200 		{color: $grey-200 !important; }
.bg-grey-300 		{color: $grey-300 !important; }
.bg-grey-400 		{color: $grey-400 !important; }
.bg-grey-500 		{color: $grey-500 !important; }
.bg-grey-600 		{color: $grey-600 !important; }
.bg-grey-700 		{color: $grey-700 !important; }
.bg-grey-800 		{color: $grey-800 !important; }
.bg-grey-900 		{color: $grey-900 !important; }

.bg-red-500 		{color: $red-500 !important; }
.bg-pink-500 		{color: $pink-500 !important; }
.bg-purple-500 	{color: $purple-500 !important; }
.bg-deeppurple-500	{color: $deeppurple-500 !important; }
.bg-indigo-500 	{color: $indigo-500 !important; }
.bg-blue-500 		{color: $blue-500 !important; }
.bg-lightblue-500 	{color: $lightblue-500 !important; }
.bg-cyan-500 		{color: $cyan-500 !important; }
.bg-teal-500 		{color: $teal-500 !important; }
.bg-green-500 		{color: $green-500 !important; }
.bg-lightgreen-500	{color: $lightgreen-500 !important; }
.bg-lime-500 		{color: $lime-500 !important; }
.bg-yellow-500 	{color: $yellow-500 !important; }
.bg-amber-500 		{color: $amber-500 !important; }
.bg-orange-500 	{color: $orange-500 !important; }
.bg-deeporange-500	{color: $deeporange-500 !important; }
.bg-brown-500 		{color: $brown-500 !important; }
.bg-bluegrey-500 	{color: $bluegrey-500 !important; }

.bg-yellow-700 	{color: $yellow-700 !important; }
.bg-orange-a100 	{color: $orange-a100 !important; }

.bg-purple-pantip-50  {color: $purple-pantip-50 !important; }
.bg-purple-pantip-100 {color: $purple-pantip-100 !important; }
.bg-purple-pantip-200 {color: $purple-pantip-200 !important; }
.bg-purple-pantip-300 {color: $purple-pantip-300 !important; }
.bg-purple-pantip-400 {color: $purple-pantip-400 !important; }
.bg-purple-pantip-500 {color: $purple-pantip-500 !important; }
.bg-purple-pantip-600 {color: $purple-pantip-600 !important; }
.bg-purple-pantip-700 {color: $purple-pantip-700 !important; }
.bg-purple-pantip-800 {color: $purple-pantip-800 !important; }
.bg-purple-pantip-900 {color: $purple-pantip-900 !important; }

.bg-indigo-pantip-50  {color: $indigo-pantip-50 !important; }
.bg-indigo-pantip-100 {color: $indigo-pantip-100 !important; }
.bg-indigo-pantip-200 {color: $indigo-pantip-200 !important; }
.bg-indigo-pantip-300 {color: $indigo-pantip-300 !important; }
.bg-indigo-pantip-400 {color: $indigo-pantip-400 !important; }
.bg-indigo-pantip-500 {color: $indigo-pantip-500 !important; }
.bg-indigo-pantip-600 {color: $indigo-pantip-600 !important; }
.bg-indigo-pantip-700 {color: $indigo-pantip-700 !important; }
.bg-indigo-pantip-800 {color: $indigo-pantip-800 !important; }
.bg-indigo-pantip-900 {color: $indigo-pantip-900 !important; }
